<!DOCTYPE html>
    
<html lang="es">
    
<head>
<title>Confirmation</title>

</head>
    
<body>
                <header>
                            <h1>Confirmation</h1>
                            <h2>El magnetlink ha sido adicionado con éxito</h2>
                            
                    <a href="/set_magnetlink"><input type="submit" value="volver1"></a>
                </header>
                
                            
                <footer>
                                
                </footer>
</body>
</html>