<!DOCTYPE html>
    
<html lang="es">
    
<head>
<title>Get magnetlink</title>

</head>
    
<body>
                <header>
                            <h1>Get magnetlink</h1>
                            
                </header>
                
                <p>
                                {% for row in result %}
                                <li>
                                    {{row}}
                                </li>
                                {% endfor %}
                                
                                
                            </p>
                
                
                            
                <footer>
                                
                </footer>
</body>
</html>